.background_image {
  background-image: url("../assets/images/login/loginDesign.svg"),
    url("../assets/images/login/gradients-04.svg");
  background-position: top right, bottom left;
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 500px, 500px 500px; /* Adjust the size as needed */
}
